# PANDAS MINI PROJECT

You have the data for the 100 top-rated movies from the past decade along with various pieces of information about the movie, its actors, and the voters who have rated these movies online. In this assignment, you will try to find some interesting insights into these movies and their voters, using Python.

# Task 1: Reading the data

### Subtask 1.1: Read the Movies Data.

Read the movies data file provided and store it in a dataframe movies.

In [2]:
import numpy as np
import pandas as pd
import plotly.express as pxw

In [3]:
Movies = pd.read_csv('Movie+Assignment+Data.csv', header=0)
Movies

,Title,title_year,budget,Gross,actor_1_name,actor_2_name,actor_3_name,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,...,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,Votes1000,VotesUS,VotesnUS,content_rating,Country
0,La La Land,2016,30000000,151101803,Ryan Gosling,Emma Stone,Ami√©e Conn,14000,19000.0,NaN,...,7.9,7.8,7.6,7.6,7.5,7.1,8.3,8.1,PG-13,USA
1,Zootopia,2016,150000000,341268248,Ginnifer Goodwin,Jason Bateman,Idris Elba,2800,28000.0,27000.0,...,7.8,8.1,7.8,7.8,8.1,7.6,8.0,8.0,PG,USA
2,Lion,2016,12000000,51738905,Dev Patel,Nicole Kidman,Rooney Mara,33000,96000.0,9800.0,...,7.9,8.2,8.0,7.9,8.4,7.1,8.1,8.0,PG-13,Australia
3,Arrival,2016,47000000,100546139,Amy Adams,Jeremy Renner,Forest Whitaker,35000,5300.0,NaN,...,7.8,7.8,7.6,7.6,7.7,7.3,8.0,7.9,PG-13,USA
4,Manchester by the Sea,2016,9000000,47695371,Casey Affleck,Michelle Williams,Kyle Chandler,518,71000.0,3300.0,...,7.7,7.7,7.6,7.6,7.6,7.1,7.9,7.8,R,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Whiplash,2014,3300000,13092000,J.K. Simmons,Melissa Benoist,Chris Mulkey,24000,970.0,535.0,...,8.3,8.2,8.1,8.1,8.2,8.0,8.6,8.4,R,USA
96,Before Midnight,2013,3000000,8114507,Seamus Davey-Fitzpatrick,Ariane Labed,Athina Rachel Tsangari,140,63.0,48.0,...,7.8,7.6,7.3,7.4,7.2,7.0,8.0,7.9,R,USA
97,Star Wars: Episode VII - The Force Awakens,2015,245000000,936662225,Doug Walker,Rob Walker,0,131,12.0,0.0,...,7.9,8.2,7.9,7.8,8.2,7.7,8.2,7.9,PG-13,USA
98,Harry Potter and the Deathly Hallows: Part I,2010,150000000,296347721,Rupert Grint,Toby Jones,Alfred Enoch,10000,2000.0,1000.0,...,7.3,8.1,7.4,7.3,8.0,6.7,7.9,7.5,PG-13,UK
99,Tucker and Dale vs Evil,2010,5000000,223838,Katrina Bowden,Tyler Labine,Chelan Simmons,948,779.0,440.0,...,7.5,7.7,7.5,7.4,7.7,7.1,7.7,7.5,R,Canada

### Subtask 1.2: Inspect the Dataframe
Inspect the dataframe for dimensions, null-values, and summary of different numeric columns.

In [7]:
print(Movies.shape)
print('-----------------')
print(Movies.isnull().sum())
print('-----------------')
Movies.describe()

(100, 62)
-----------------
Title             0
title_year        0
budget            0
Gross             0
actor_1_name      0
                 ..
Votes1000         0
VotesUS           0
VotesnUS          0
content_rating    0
Country           0
Length: 62, dtype: int64
-----------------

,title_year,budget,Gross,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,IMDb_rating,MetaCritic,Runtime,CVotes10,...,Votes1829F,Votes3044,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,Votes1000,VotesUS,VotesnUS
count,100.000000,1.000000e+02,1.000000e+02,100.000000,99.000000,98.000000,100.000000,95.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,2012.820000,7.838400e+07,1.468679e+08,13407.270000,7377.303030,3002.153061,7.883000,78.252632,126.420000,73212.160000,...,7.982000,7.732000,7.723000,7.780000,7.65100,7.624000,7.770000,7.274000,7.958000,7.793000
std,1.919491,7.445295e+07,1.454004e+08,10649.037862,13471.568216,6940.301133,0.247433,9.122066,19.050799,82669.594746,...,0.321417,0.251814,0.260479,0.282128,0.21485,0.213258,0.301344,0.361987,0.232327,0.264099
min,2010.000000,3.000000e+06,2.238380e+05,39.000000,12.000000,0.000000,7.500000,62.000000,91.000000,6420.000000,...,7.300000,7.300000,7.200000,7.200000,7.10000,7.100000,7.000000,6.400000,7.500000,7.300000
25%,2011.000000,1.575000e+07,4.199752e+07,1000.000000,580.000000,319.750000,7.700000,72.000000,114.750000,30587.000000,...,7.700000,7.600000,7.500000,7.600000,7.50000,7.475000,7.500000,7.100000,7.800000,7.600000
50%,2013.000000,4.225000e+07,1.070266e+08,13000.000000,1000.000000,626.500000,7.800000,78.000000,124.000000,54900.500000,...,8.000000,7.700000,7.700000,7.800000,7.65000,7.600000,7.800000,7.300000,7.950000,7.750000
75%,2014.000000,1.500000e+08,2.107548e+08,20000.000000,11000.000000,1000.000000,8.100000,83.500000,136.250000,80639.000000,...,8.200000,7.900000,7.900000,8.000000,7.80000,7.800000,7.925000,7.500000,8.100000,7.925000
max,2016.000000,2.600000e+08,9.366622e+08,35000.000000,96000.000000,46000.000000,8.800000,100.000000,180.000000,584839.000000,...,8.800000,8.700000,8.700000,8.500000,8.10000,8.100000,8.500000,8.200000,8.700000,8.800000

## Task 2: Data Analysis

Now that we have loaded the dataset and inspected it, we see that most of the data is in place. As of now, no data cleaning is required, so let's start with some data manipulation, analysis, and visualisation to get various insights about the data.

### Subtask 2.1: Reduce those Digits!
These numbers in the `budget` and `gross` are too big, compromising its readability. Let's convert the unit of the budget and gross columns from `$` to `million $` first.

In [11]:
Movies['budget'] = Movies['budget'] / 1000000  # Convert budget to million dollars
Movies['Gross'] = Movies['Gross'] / 1000000    # Convert Gross to million dollars
Movies

,Title,title_year,budget,Gross,actor_1_name,actor_2_name,actor_3_name,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,...,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,Votes1000,VotesUS,VotesnUS,content_rating,Country
0,La La Land,2016,3.000000e-17,1.511018e-16,Ryan Gosling,Emma Stone,Ami√©e Conn,14000,19000.0,NaN,...,7.9,7.8,7.6,7.6,7.5,7.1,8.3,8.1,PG-13,USA
1,Zootopia,2016,1.500000e-16,3.412682e-16,Ginnifer Goodwin,Jason Bateman,Idris Elba,2800,28000.0,27000.0,...,7.8,8.1,7.8,7.8,8.1,7.6,8.0,8.0,PG,USA
2,Lion,2016,1.200000e-17,5.173891e-17,Dev Patel,Nicole Kidman,Rooney Mara,33000,96000.0,9800.0,...,7.9,8.2,8.0,7.9,8.4,7.1,8.1,8.0,PG-13,Australia
3,Arrival,2016,4.700000e-17,1.005461e-16,Amy Adams,Jeremy Renner,Forest Whitaker,35000,5300.0,NaN,...,7.8,7.8,7.6,7.6,7.7,7.3,8.0,7.9,PG-13,USA
4,Manchester by the Sea,2016,9.000000e-18,4.769537e-17,Casey Affleck,Michelle Williams,Kyle Chandler,518,71000.0,3300.0,...,7.7,7.7,7.6,7.6,7.6,7.1,7.9,7.8,R,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Whiplash,2014,3.300000e-18,1.309200e-17,J.K. Simmons,Melissa Benoist,Chris Mulkey,24000,970.0,535.0,...,8.3,8.2,8.1,8.1,8.2,8.0,8.6,8.4,R,USA
96,Before Midnight,2013,3.000000e-18,8.114507e-18,Seamus Davey-Fitzpatrick,Ariane Labed,Athina Rachel Tsangari,140,63.0,48.0,...,7.8,7.6,7.3,7.4,7.2,7.0,8.0,7.9,R,USA
97,Star Wars: Episode VII - The Force Awakens,2015,2.450000e-16,9.366622e-16,Doug Walker,Rob Walker,0,131,12.0,0.0,...,7.9,8.2,7.9,7.8,8.2,7.7,8.2,7.9,PG-13,USA
98,Harry Potter and the Deathly Hallows: Part I,2010,1.500000e-16,2.963477e-16,Rupert Grint,Toby Jones,Alfred Enoch,10000,2000.0,1000.0,...,7.3,8.1,7.4,7.3,8.0,6.7,7.9,7.5,PG-13,UK
99,Tucker and Dale vs Evil,2010,5.000000e-18,2.238380e-19,Katrina Bowden,Tyler Labine,Chelan Simmons,948,779.0,440.0,...,7.5,7.7,7.5,7.4,7.7,7.1,7.7,7.5,R,Canada

### Subtask 2.2: Let's Talk Profit!

1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`
2. Sort the dataframe using the `profit` column as reference.
3. Extract the top ten profiting movies in descending order and store them in a new dataframe named `top10`
4. Record your observations
5. Extract the movies with a `negative profit` and store them in a new dataframe named `neg_profit`

In [12]:
#Create a new column 'profit'
Movies['profit'] = Movies['Gross'] - Movies['budget']

#Sort the DataFrame using the 'profit' column as reference
Movies_sorted = Movies.sort_values(by='profit', ascending=False)

#Extract the top ten profiting movies in descending order
top10 = Movies_sorted.head(10)

#Extract movies with negative profit
neg_profit = Movies_sorted[Movies_sorted['profit'] < 0]

# Print the top 10 profiting movies
print("Top 10 Profiting Movies:")
print(top10)

# Print the movies with negative profit
print("\nMovies with Negative Profit:")
print(neg_profit)

Top 10 Profiting Movies:
                                         Title  title_year        budget  \
97  Star Wars: Episode VII - The Force Awakens        2015  2.450000e-16
11                                The Avengers        2012  2.200000e-16
47                                    Deadpool        2016  5.800000e-17
32             The Hunger Games: Catching Fire        2013  1.300000e-16
12                                 Toy Story 3        2010  2.000000e-16
8                        The Dark Knight Rises        2012  2.500000e-16
45                              The Lego Movie        2014  6.000000e-17
1                                     Zootopia        2016  1.500000e-16
41                               Despicable Me        2010  6.900000e-17
18                                  Inside Out        2015  1.750000e-16

           Gross       actor_1_name       actor_2_name           actor_3_name  \
97  9.366622e-16        Doug Walker         Rob Walker                      0
11  6.232795e-16    Chris Hemsworth  Robert Downey Jr.     Scarlett Johansson
47  3.630243e-16      Ryan Reynolds          Ed Skrein         Stefan Kapicic
32  4.246456e-16  Jennifer Lawrence    Josh Hutcherson  Sandra Ellis Lafferty
12  4.149845e-16          Tom Hanks  John Ratzenberger            Don Rickles
8   4.481306e-16          Tom Hardy     Christian Bale   Joseph Gordon-Levitt
45  2.577562e-16     Morgan Freeman       Will Ferrell            Alison Brie
1   3.412682e-16   Ginnifer Goodwin      Jason Bateman             Idris Elba
41  2.515016e-16       Steve Carell   Miranda Cosgrove          Jack McBrayer
18  3.564544e-16        Amy Poehler       Mindy Kaling          Phyllis Smith

    actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes  \
97                     131                    12.0                     0.0
11                   26000                 21000.0                 19000.0
47                   16000                   805.0                   361.0
32                   34000                 14000.0                   523.0
12                   15000                  1000.0                   721.0
8                    27000                 23000.0                 23000.0
45                   11000                  8000.0                  2000.0
1                     2800                 28000.0                 27000.0
41                    7000                  2000.0                   975.0
18                    1000                   767.0                   384.0

    ...  Votes3044F Votes45A Votes45AM Votes45AF  Votes1000  VotesUS  \
97  ...         8.2      7.9       7.8       8.2        7.7      8.2
11  ...         8.1      7.9       7.9       8.1        7.4      8.3
47  ...         7.9      7.8       7.8       7.9        7.3      8.1
32  ...         7.9      7.3       7.2       7.9        6.7      7.7
12  ...         8.3      8.1       8.1       8.1        8.1      8.5
8   ...         8.2      7.9       7.9       7.9        7.8      8.4
45  ...         7.5      7.4       7.4       7.4        7.2      8.0
1   ...         8.1      7.8       7.8       8.1        7.6      8.0
41  ...         7.9      7.6       7.5       7.9        7.0      7.6
18  ...         8.1      7.9       7.9       7.9        7.6      8.2

    VotesnUS  content_rating    Country        profit
97       7.9           PG-13        USA  6.916622e-16
11       7.9           PG-13        USA  4.032795e-16
47       7.9               R        USA  3.050243e-16
32       7.4           PG-13        USA  2.946456e-16
12       8.3               G        USA  2.149845e-16
8        8.4           PG-13        USA  1.981306e-16
45       7.6              PG  Australia  1.977562e-16
1        8.0              PG        USA  1.912682e-16
41       7.6              PG        USA  1.825016e-16
18       8.1              PG        USA  1.814544e-16

[10 rows x 63 columns]

Movies with Negative Profit:
                          Title  title_year        budget         Gross  \
99      Tucker and Dale vs Evil        2010  5.000000e-18  2.238380e-19
89                        Amour        2012  8.900000e-18  2.253770e-19
56                         Rush        2013  3.800000e-17  2.690371e-17
66                      Warrior        2011  2.500000e-17  1.365166e-17
82                      Flipped        2010  1.400000e-17  1.752214e-18
28           X-Men: First Class        2011  1.600000e-16  1.464054e-16
46  Scott Pilgrim vs. the World        2010  6.000000e-17  3.149427e-17
7                       Tangled        2010  2.600000e-16  2.008073e-16
17             Edge of Tomorrow        2014  1.780000e-16  1.001895e-16
39            The Little Prince        2015  8.120000e-17  1.339152e-18
22                         Hugo        2011  1.700000e-16  7.382009e-17

           actor_1_name        actor_2_name            actor_3_name  \
99       Katrina Bowden        Tyler Labine          Chelan Simmons
89     Isabelle Huppert     Emmanuelle Riva  Jean-Louis Trintignant
56      Chris Hemsworth        Olivia Wilde    Alexandra Maria Lara
66            Tom Hardy        Frank Grillo              Kevin Dunn
82     Madeline Carroll   Rebecca De Mornay             Aidan Quinn
28    Jennifer Lawrence  Michael Fassbender            Oliver Platt
46        Anna Kendrick       Kieran Culkin              Ellen Wong
7          Brad Garrett        Donna Murphy             M.C. Gainey
17           Tom Cruise         Lara Pulver             Noah Taylor
39         Jeff Bridges        James Franco           Mackenzie Foy
22  Chlo√É¬´ Grace Moretz     Christopher Lee            Ray Winstone

    actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes  \
99                     948                   779.0                   440.0
89                     678                   432.0                   319.0
56                   26000                 10000.0                   471.0
66                   27000                   798.0                   581.0
82                    1000                   872.0                   767.0
28                   34000                 13000.0                  1000.0
46                   10000                  1000.0                   719.0
7                      799                   553.0                   284.0
17                   10000                   854.0                   509.0
39                   12000                 11000.0                  6000.0
22                   17000                 16000.0                  1000.0

    ...  Votes3044F Votes45A Votes45AM Votes45AF  Votes1000  VotesUS  \
99  ...         7.7      7.5       7.4       7.7        7.1      7.7
89  ...         7.9      7.9       7.8       8.1        7.2      7.9
56  ...         7.9      7.8       7.8       7.8        7.1      7.9
66  ...         8.0      7.7       7.7       7.5        7.1      8.2
82  ...         7.7      7.4       7.3       7.6        6.4      7.5
28  ...         7.8      7.6       7.5       7.7        7.3      7.8
46  ...         7.2      7.1       7.1       7.0        6.6      7.8
7   ...         8.0      7.7       7.6       7.9        6.9      7.9
17  ...         7.7      7.8       7.8       7.8        7.5      8.0
39  ...         7.9      7.5       7.4       7.9        6.6      7.7
22  ...         7.4      7.5       7.5       7.6        7.4      7.7

    VotesnUS  content_rating  Country        profit
99       7.5               R   Canada -4.776162e-18
89       7.8           PG-13   France -8.674623e-18
56       8.1               R       UK -1.109629e-17
66       8.1           PG-13      USA -1.134834e-17
82       7.7              PG      USA -1.224779e-17
28       7.7           PG-13      USA -1.359463e-17
46       7.4           PG-13      USA -2.850573e-17
7        7.7              PG      USA -5.919274e-17
17       7.8           PG-13      USA -7.781050e-17
39       7.7              PG   France -7.986085e-17
22       7.5              PG      USA -9.617991e-17

[11 rows x 63 columns]

### Subtask 2.3: The General Audience and the Critics


You might have noticed the column `MetaCritic` in this dataset. This is a very popular website where an average score is determined through the scores given by the top-rated critics. Second, you also have another column `IMDb_rating` which tells you the IMDb rating of a movie. This rating is determined by taking the average of hundred-thousands of ratings from the general audience.

As a part of this subtask, you are required to find out the highest rated movies which have been liked by critics and audiences alike.

1. Firstly you will notice that the `MetaCritic` score is on a scale of `100` whereas the `IMDb_rating` is on a scale of `10`      First convert the `MetaCritic` column to a scale of 10.
2. Now, to find out the movies which have been liked by both critics and audiences alike and also have a high rating overall,      you need to:

    - Create a new column `Avg_rating` which will have the average of the `MetaCritic` and `Rating` columns
    - Retain only the movies in which the absolute difference(using abs() function) between the `IMDb_rating` and `Metacritic`             columns     is less than 0.5. Refer to this link to know how abs() funtion works - https://www.geeksforgeeks.org/abs-in-python/
    - Sort these values in a descending order of `Avg_rating` and retain only the movies with a rating equal to or greater than 8       and    store these movies in a new dataframe `UniversalAcclaim`.

In [13]:
# 1. Convert the 'MetaCritic' column to a scale of 10
Movies['MetaCritic'] = Movies['MetaCritic'] / 10

# 2. Create a new column 'Avg_rating'
Movies['Avg_rating'] = (Movies['MetaCritic'] + Movies['IMDb_rating']) / 2

# 3. Retain only the movies with a small difference between 'IMDb_rating' and 'MetaCritic'
Movies_filtered = Movies[abs(Movies['IMDb_rating'] - Movies['MetaCritic']) < 0.5]

# 4. Sort the DataFrame based on the 'Avg_rating' column in descending order
Movies_filtered_sorted = Movies_filtered.sort_values(by='Avg_rating', ascending=False)

# 5. Retain only the movies with a rating equal to or greater than 8
UniversalAcclaim = Movies_filtered_sorted[Movies_filtered_sorted['Avg_rating'] >= 8]

# Print the UniversalAcclaim DataFrame
print("Movies with Universal Acclaim:")
print(UniversalAcclaim)

Movies with Universal Acclaim:
                                         Title  title_year        budget  \
95                                    Whiplash        2014  3.300000e-18
35                            Django Unchained        2012  1.000000e-16
93                          Dallas Buyers Club        2013  5.000000e-18
97  Star Wars: Episode VII - The Force Awakens        2015  2.450000e-16
3                                      Arrival        2016  4.700000e-17
33                                 The Martian        2015  1.080000e-16
43                                   Gone Girl        2014  6.100000e-17

           Gross         actor_1_name     actor_2_name       actor_3_name  \
95  1.309200e-17         J.K. Simmons  Melissa Benoist       Chris Mulkey
35  1.628046e-16    Leonardo DiCaprio  Christoph Waltz       Ato Essandoh
93  2.729651e-17  Matthew McConaughey  Jennifer Garner       Denis O'Hare
97  9.366622e-16          Doug Walker       Rob Walker                  0
3   1.005461e-16            Amy Adams    Jeremy Renner    Forest Whitaker
33  2.284310e-16           Matt Damon    Donald Glover      Benedict Wong
43  1.677354e-16        Patrick Fugit        Sela Ward  Emily Ratajkowski

    actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes  \
95                   24000                   970.0                   535.0
35                   29000                 11000.0                   265.0
93                   11000                  3000.0                   896.0
97                     131                    12.0                     0.0
3                    35000                  5300.0                     NaN
33                   13000                   801.0                   372.0
43                     835                   812.0                   625.0

    ...  Votes45A Votes45AM Votes45AF Votes1000  VotesUS  VotesnUS  \
95  ...       8.1       8.1       8.2       8.0      8.6       8.4
35  ...       8.0       8.0       8.1       7.8      8.4       8.4
93  ...       7.8       7.8       8.0       7.2      8.0       7.9
97  ...       7.9       7.8       8.2       7.7      8.2       7.9
3   ...       7.6       7.6       7.7       7.3      8.0       7.9
33  ...       8.0       7.9       8.2       7.8      8.1       7.9
43  ...       7.7       7.7       7.7       7.6      8.1       8.1

    content_rating  Country        profit  Avg_rating
95               R      USA  9.792000e-18        8.65
35               R      USA  6.280465e-17        8.25
93               R      USA  2.229651e-17        8.20
97           PG-13      USA  6.916622e-16        8.10
3            PG-13      USA  5.354614e-17        8.05
33           PG-13      USA  1.204310e-16        8.00
43               R      USA  1.067354e-16        8.00

[7 rows x 64 columns]

### Subtask 2.4: Find the Most Popular Trios - I
You're a producer looking to make a blockbuster movie. There will primarily be three lead roles in your movie and you wish to cast the most popular actors for it. Now, since you don't want to take a risk, you will cast a trio which has already acted in together in a movie before. The metric that you've chosen to check the popularity is the Facebook likes of each of these actors.

The dataframe has three columns to help you out for the same, viz. `actor_1_facebook_likes`, `actor_2_facebook_likes`, and `actor_3_facebook_likes`. Your objective is to find the trios which has the most number of Facebook likes combined. That is, the sum of `actor_1_facebook_likes`, `actor_2_facebook_likes` and `actor_3_facebook_likes` should be `maximum`. Find out the `top 5` popular trios, and output their `names` in a list.

In [14]:
# 1. Create a new column 'Total_likes'
Movies['Total_likes'] = Movies['actor_1_facebook_likes'] + Movies['actor_2_facebook_likes'] + Movies['actor_3_facebook_likes']

# 2. Sort the DataFrame based on the 'Total_likes' column in descending order
Movies_sorted_by_likes = Movies.sort_values(by='Total_likes', ascending=False)

# 3. Extract the top 5 popular trios and output their names in a list
top_5_trios = Movies_sorted_by_likes[['actor_1_name', 'actor_2_name', 'actor_3_name']].head(5).values.tolist()

# Print the top 5 popular trios
print("Top 5 Popular Trios:")
for i, trio in enumerate(top_5_trios, 1):
    print(f"{i}. {trio}")

Top 5 Popular Trios:
1. ['Dev Patel', 'Nicole Kidman', 'Rooney Mara']
2. ['Leonardo DiCaprio', 'Tom Hardy', 'Joseph Gordon-Levitt']
3. ['Jennifer Lawrence', 'Peter Dinklage', 'Hugh Jackman']
4. ['Casey Affleck', 'Michelle Williams ', 'Kyle Chandler']
5. ['Tom Hardy', 'Christian Bale', 'Joseph Gordon-Levitt']

### Subtask 2.5: Find the Most Popular Trios - II
In the previous subtask you found the popular trio based on the total number of facebook likes. Let's add a small condition to it and make sure that all three actors are popular. The condition is none of the three actors' Facebook likes should be less than half of the other two. For example, the following is a valid combo:

actor_1_facebook_likes: 70000
actor_2_facebook_likes: 40000
actor_3_facebook_likes: 50000
But the below one is not:

actor_1_facebook_likes: 70000
actor_2_facebook_likes: 40000
actor_3_facebook_likes: 30000
since in this case, actor_3_facebook_likes is 30000, which is less than half of actor_1_facebook_likes.

Having this condition ensures that you aren't getting any unpopular actor in your trio (since the total likes calculated in the previous question doesn't tell anything about the individual popularities of each actor in the trio.).

You can do a manual inspection of the top 5 popular trios you have found in the previous subtask and check how many of those trios satisfy this condition. Also, which is the most popular trio after applying the condition above? Write your answers in the markdown cell provided below?

# ['Dev Patel', 'Nicole Kidman', 'Rooney Mara']

Dev Patel: 33000, Nicole Kidman: 23000, Rooney Mara: 24000
All likes are above half of the other two, so this trio satisfies the condition.
# ['Leonardo DiCaprio', 'Tom Hardy', 'Joseph Gordon-Levitt']

Leonardo DiCaprio: 29000, Tom Hardy: 27000, Joseph Gordon-Levitt: 23000
All likes are above half of the other two, so this trio satisfies the condition.
# ['Jennifer Lawrence', 'Peter Dinklage', 'Hugh Jackman']

Jennifer Lawrence: 34000, Peter Dinklage: 22000, Hugh Jackman: 22000
Jennifer Lawrence's likes are above half of Peter Dinklage's and Hugh Jackman's, but Peter Dinklage's and Hugh Jackman's likes are not above half of Jennifer Lawrence's. So this trio doesn't satisfy the condition.
# ['Casey Affleck', 'Michelle Williams ', 'Kyle Chandler']

Casey Affleck: 6000, Michelle Williams: 18000, Kyle Chandler: 53000
Michelle Williams' likes are above half of Casey Affleck's and Kyle Chandler's, but Casey Affleck's and Kyle Chandler's likes are not above half of Michelle Williams'. So this trio doesn't satisfy the condition.
# ['Tom Hardy', 'Christian Bale', 'Joseph Gordon-Levitt']

Tom Hardy: 27000, Christian Bale: 23000, Joseph Gordon-Levitt: 23000
All likes are above half of the other two, so this trio satisfies the condition.

### Subtask 2.6: R-Rated Movies

Although R rated movies are restricted movies for the under 18 age group, still there are vote counts from that age group. Among all the R rated movies that have been voted by the under-18 age group, find the top 10 movies that have the highest number of votes i.e`CVotesU18` from the `movies` dataframe. Store these in a dataframe named `PopularR`.

In [96]:
# Step 1: Filter R-rated movies
R_rated_movies = Movies[Movies['content_rating'] == 'R']

# Step 2: Sort the filtered dataframe based on CVotesU18 in descending order
PopularR = R_rated_movies.sort_values(by='CVotesU18', ascending=False)

# Step 3: Extract the top 10 movies with the highest number of votes from under-18 age group
PopularR = PopularR.head(10)

# Display the PopularR dataframe
PopularR

,Title,title_year,budget,Gross,actor_1_name,actor_2_name,actor_3_name,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,...,Votes45AM,Votes45AF,Votes1000,VotesUS,VotesnUS,content_rating,Country,profit,Avg_rating,Total_likes
47,Deadpool,2016,5.800000e-17,3.630243e-16,Ryan Reynolds,Ed Skrein,Stefan Kapicic,16000,805.0,361.0,...,7.8,7.9,7.3,8.1,7.9,R,USA,3.050243e-16,7.25,17166.0
36,The Wolf of Wall Street,2013,1.000000e-16,1.168667e-16,Leonardo DiCaprio,Matthew McConaughey,Jon Favreau,29000,11000.0,4000.0,...,7.6,7.5,7.8,8.1,8.1,R,USA,1.686673e-17,7.85,44000.0
35,Django Unchained,2012,1.000000e-16,1.628046e-16,Leonardo DiCaprio,Christoph Waltz,Ato Essandoh,29000,11000.0,265.0,...,8.0,8.1,7.8,8.4,8.4,R,USA,6.280465e-17,8.25,40265.0
29,Mad Max: Fury Road,2015,1.500000e-16,1.536295e-16,Tom Hardy,Charlize Theron,Zo√É¬´ Kravitz,27000,9000.0,943.0,...,7.5,7.2,8.0,8.2,8.0,R,Australia,3.629485e-18,8.55,36943.0
95,Whiplash,2014,3.300000e-18,1.309200e-17,J.K. Simmons,Melissa Benoist,Chris Mulkey,24000,970.0,535.0,...,8.1,8.2,8.0,8.6,8.4,R,USA,9.792000e-18,8.65,25505.0
31,The Revenant,2015,1.350000e-16,1.836359e-16,Leonardo DiCaprio,Tom Hardy,Lukas Haas,29000,27000.0,733.0,...,7.8,7.8,7.6,8.1,7.9,R,USA,4.863592e-17,7.80,56733.0
40,Shutter Island,2010,8.000000e-17,1.279684e-16,Leonardo DiCaprio,Joseph Sikora,Nellie Sciutto,29000,223.0,163.0,...,7.4,7.6,7.6,7.8,8.1,R,USA,4.796840e-17,7.20,29386.0
43,Gone Girl,2014,6.100000e-17,1.677354e-16,Patrick Fugit,Sela Ward,Emily Ratajkowski,835,812.0,625.0,...,7.7,7.7,7.6,8.1,8.1,R,USA,1.067354e-16,8.00,2272.0
65,The Grand Budapest Hotel,2014,2.500000e-17,5.907377e-17,Bill Murray,Tom Wilkinson,F. Murray Abraham,13000,1000.0,670.0,...,7.8,7.9,7.7,8.1,8.0,R,USA,3.407377e-17,8.45,14670.0
72,Birdman or (The Unexpected Virtue of Ignorance),2014,1.800000e-17,4.233570e-17,Emma Stone,Naomi Watts,Merritt Wever,15000,6000.0,529.0,...,7.3,7.0,7.1,7.9,7.7,R,USA,2.433570e-17,8.30,21529.0

## Task 3 : Demographic analysis

If you take a look at the last columns in the dataframe, most of these are related to demographics of the voters (in the last subtask, i.e., 2.8, you made use one of these columns - CVotesU18). We also have three genre columns indicating the genres of a particular movie. We will extensively use these columns for the third and the final stage of our assignment wherein we will analyse the voters across all demographics and also see how these vary across various genres. So without further ado, let's get started with demographic analysis.

### Subtask 3.1 Dataframe & Genres

There are 3 columns in the dataframe - `genre_1`, `genre_2`, and `genre_3`. As a part of this subtask, you need to aggregate a few values over these 3 columns.

1. First create a new dataframe `df_by_genre` that contains `genre_1`, `genre_2`, and `genre_3` and all the columns related to `CVotes/Votes` from the `movies` data frame. There are `47` columns to be extracted in total.
2. Now, Add a column called `cnt` to the dataframe `df_by_genre` and initialize it to `one`. You will realise the use of this column by the end of this subtask.
3. First group the dataframe `df_by_genre` by `genre_1` and find the sum of all the numeric columns such as `cnt`, columns related to `CVotes` and `Votes` columns and store it in a dataframe `df_by_g1`.
4. Perform the same operation for `genre_2` and `genre_3` and store it dataframes `df_by_g2` and `df_by_g3` respectively.
5. Now that you have 3 dataframes performed by grouping over `genre_1`, `genre_2`, and `genre_3` separately, it's time to combine them. For this, add the three dataframes and store it in a new dataframe `df_add`, so that the corresponding values of `Votes/CVotes` get added for each genre.There is a function called `add()` in pandas which lets you do this. You can refer to this link to see how this function works. https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.add.html
6. The column `cnt` on aggregation has basically kept the track of the number of occurences of each genre.Subset the genres that have atleast 10 movies into a new dataframe `genre_top10` based on the `cnt` column value.
7. Now, take the mean of all the numeric columns by dividing them with the column value `cnt` and store it back to the same dataframe. `We will be using this dataframe for further analysis in this task unless it is explicitly mentioned to use the dataframe movies`.
8. Since the number of votes can't be a fraction, type cast all the `CVotes` related columns to integers. Also, round off all the `Votes` related columns upto two digits after the decimal point.

In [95]:
# Create a list of columns related to CVotes and Votes
cvotes_columns = [col for col in Movies.columns if col.startswith('CVotes') or col.startswith('Votes')]

# Extract the required columns into a new DataFrame df_by_genre
df_by_genre = Movies[['genre_1', 'genre_2', 'genre_3'] + cvotes_columns].copy()
# Remove NaN values from df_by_genre DataFrame
df_by_genre.dropna(inplace=True)
df_by_genre

# # Add a new column 'cnt' and initialize it to one
df_by_genre['cnt'] = 1
df_by_genre.head(10)
# Group the dataframe by genre_1 and find the sum of all numeric columns
df_by_g1 = df_by_genre.groupby('genre_1').sum()
df_by_g2 = df_by_genre.groupby('genre_2').sum()
df_by_g3 = df_by_genre.groupby('genre_3').sum()
df_by_g1 = df_by_g1.drop(columns=['genre_2', 'genre_3'])
df_by_g2 = df_by_g2.drop(columns=['genre_1', 'genre_3'])
df_by_g3 = df_by_g3.drop(columns=['genre_1', 'genre_2'])

df_by_g3
# Combine the three dataframes by adding them together
df_add = df_by_g1.add(df_by_g2, fill_value=0).add(df_by_g3, fill_value=0)
df_add
# Subset genres with at least 10 movies into genre_top10
genre_top10 = df_add[df_add['cnt'] >= 10]
# Take the mean of all numeric columns by dividing them with the column value cnt
df_add_mean = df_add.div(df_add['cnt'], axis=0)
# Update the original DataFrame with the mean values
df_add[df_add_mean.columns] = df_add_mean
# Type cast all CVotes related columns to integers
cvotes_columns = [col for col in df_add.columns if 'CVotes' in col]
df_add[cvotes_columns] = df_add[cvotes_columns].astype(int)

# Round off all Votes related columns up to two digits after the decimal point
votes_columns = [col for col in df_add.columns if 'Votes' in col]
df_add[votes_columns] = df_add[votes_columns].round(2)
df_add

,CVotes10,CVotes09,CVotes08,CVotes07,CVotes06,CVotes05,CVotes04,CVotes03,CVotes02,CVotes01,...,Votes3044,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,Votes1000,VotesUS,VotesnUS,cnt
Action,88067,103338,142464,90044,32712,11758,4921,2786,1916,4915,...,7.71,7.70,7.79,7.63,7.60,7.75,7.28,7.97,7.74,1.0
Adventure,93362,105007,136611,85102,31140,11222,4677,2644,1795,4501,...,7.76,7.73,7.87,7.67,7.64,7.84,7.38,8.00,7.79,1.0
Animation,61960,72566,104837,65707,22825,7551,2792,1430,911,2290,...,7.76,7.72,7.98,7.68,7.65,7.88,7.27,7.96,7.83,1.0
Biography,50349,81415,128077,76930,24488,8018,3115,1743,1178,2974,...,7.71,7.70,7.72,7.64,7.62,7.81,7.21,7.90,7.75,1.0
Comedy,62354,79145,109886,68553,25352,9345,3913,2226,1534,3480,...,7.73,7.73,7.79,7.64,7.61,7.75,7.21,7.96,7.80,1.0
Crime,50010,87012,128930,73873,23983,8136,3313,1901,1287,2864,...,7.72,7.76,7.62,7.65,7.64,7.71,7.37,7.98,7.80,1.0
Drama,49957,73116,111508,69382,24139,8492,3511,1970,1343,2977,...,7.69,7.69,7.68,7.62,7.60,7.72,7.22,7.91,7.75,1.0
Family,49082,47837,90190,71700,29568,11485,4736,2564,1658,3772,...,7.40,7.35,7.75,7.45,7.40,7.80,7.05,7.80,7.50,1.0
Fantasy,67767,73662,109093,76290,30159,11707,4944,2825,1919,5408,...,7.58,7.54,7.84,7.60,7.52,7.92,7.10,7.86,7.62,1.0
History,37815,65096,98632,55765,16965,5308,1991,1096,787,2322,...,7.80,7.78,7.82,7.75,7.68,8.02,7.35,8.05,7.80,1.0
Music,74245,71191,64640,38831,17377,8044,3998,2839,2407,6802,...,7.90,7.90,7.80,7.60,7.60,7.50,7.10,8.30,8.10,1.0
Musical,54268,47750,63323,45160,22393,10744,5551,3484,2490,5020,...,7.30,7.20,7.60,7.40,7.30,7.70,6.60,7.60,7.50,1.0
Mystery,59959,99380,147940,87210,30617,10825,4603,2602,1751,4123,...,7.70,7.70,7.78,7.60,7.58,7.73,7.35,7.97,7.82,1.0
Romance,42292,57190,92635,62810,24589,9702,4254,2418,1661,3336,...,7.56,7.56,7.61,7.48,7.46,7.58,6.88,7.80,7.64,1.0
Sci-Fi,129064,143540,171169,102468,37764,14138,6234,3668,2573,6181,...,7.85,7.84,7.82,7.70,7.68,7.71,7.53,8.07,7.88,1.0
Sport,47858,70141,107403,69300,22235,6910,2577,1254,914,2041,...,7.75,7.75,7.60,7.60,7.60,7.50,7.10,8.00,7.80,1.0
Thriller,45690,75606,125860,81066,28015,9723,3954,2238,1505,3221,...,7.65,7.66,7.59,7.67,7.65,7.78,7.32,7.89,7.70,1.0
War,36753,54703,111271,82505,30231,10553,4303,2388,1629,3246,...,7.40,7.40,7.40,7.40,7.40,7.40,6.80,7.60,7.50,1.0
Western,21094,40901,91825,67175,23055,7191,2678,1305,779,1672,...,7.60,7.60,7.50,7.70,7.70,7.70,7.30,7.90,7.60,1.0